* {
  font-family: monospace, serif;
  font-size: large;
  overflow: hidden;
  user-select: none;
}

#mainContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

.bubble {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  filter: blur(100px);
  z-index: -99;
  transition: left 5s ease, top 5s ease;
}

.bubbleOne {
  background-color: #C6F1FF;
}

.bubbleTwo {
  background-color: #F5E9FF;
}

.appArea {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.langDropDown {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  appearance: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer
}

.langDropDown:hover {
  color: gray;
}

.timer {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  margin: 20px 0;
}

.timerBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  color: darkgray;
}

.timerBtn:hover,
.timerBtn:focus {
  color: black;
  outline: none;
}

.bold {
  color: black;
}

#countdown {
  display: none;
}

#gameArea {
  position: relative;
  margin-top: 30px;
  max-width: 800px;
  height: 110px;
  padding-left: 10px;
  line-height: 200%;
  overflow: hidden;
}

.expectedInputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.expectedInput {
  position: relative;
  top: 0px;
  filter: blur(5px);
  transition: filter 0.7s ease-out;
  color: #808080;
}

#mainContainer:focus .expectedInput {
  filter: blur(0);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cursor {
  display: none;
  width: 2px;
  height: 1.2rem;
  background-color: black;
  position: fixed;
  top: 253px;
  left: 248px;
  animation: blink 1s infinite;
  transition: filter 0.7s ease-out;
  transition: left 0.15s ease;
  filter: blur(5px);
}

#mainContainer:focus #cursor {
  filter: blur(0);
}

.focusError {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.7s ease-out;
}

#mainContainer:focus .focusError {
  opacity: 0;
  pointer-events: none;
}

.correct {
  color: black;
  transition: all 0.5s ease-out;
}

.incorrect {
  color: red;
  transition: all 0.5s ease-out;
}

.resultArea {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.resultBlock {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.netwpm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.netwpm p {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  margin: 0;
  margin-bottom: -5px;
}

.netwpm h1 {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.detailBlock {
  color: rgb(58, 58, 58);
}

.detailBlock p {
  margin: 0;
}

.detailBlock h1 {
  font-size: 40px;
  margin: 0;
}

.resetInstruction {
  color: darkgray;
  font-size: small;
}

.restartBtn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.restartBtn:hover {
  color: darkgray;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.footer {
  display: flex;
  justify-content: end;
}

.footer a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.gitHubIcon {
  font-size: xx-large;
}